.add-bus-form{
	background-color: white;
}
.action-button{
	 white-space: nowrap;
    display: inline-block;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 20px;
    color: #fff;
    background-image: linear-gradient(#4f93ce,#285f8f);
    border: 1px solid #285f8f;
}
.bus-number {
	color:red;
	font-weight: 800;
}
.table-header {
    background-color: grey;
    font-weight: 800;
    font-size: 21px;
    margin-bottom: 15px;
}
.bus-stop-item{
    display : flex;
    align-items : center;
}
.bus-stop-item:nth-child(even) {
    background: rgba(204, 204, 204,0.3)
}
.bus-stop-item:nth-child(odd) {
    background: #FFF
}
.bus-list .modal-content{
    padding: 20px;
}